@tailwind base;
@tailwind components;
@tailwind utilities;

.disable-me{
  pointer-events: none;
  cursor: not-allowed!important;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}